.header {
    background: var(--header-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.header_logo {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: var(--gap);
}

.header_logo img {
    width: 25px;
    height: 25px;
}

.header_logo span {
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 340px) {
    .header_logo span {
        display: none;
        margin-left: 0;
    }
}

.header_drag {
    flex-grow: 1;
    align-self: normal;
    -webkit-app-region: drag;
}

.window {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.seporator{
    width: 2px;
    height: 25px;
    background-color: var(--text);
    opacity: 0.1;
}
.window_btn_close:focus,
.window_btn_close:hover {
    background: var(--bth-win-close-bg-hover);
}
