.footer {
    flex-shrink: 0;
    width: 100%;
    background: var(--footer-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 20px;
}

.author{
    opacity: 0.5;
}

.version {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    opacity: 0.5;
}

