.btns{
    display: flex;
    align-items: stretch;
    gap: var(--gap);
    flex-wrap: wrap;
}
.btns .btn{
    flex-grow: 1;
}
/* styles btn */
.btn{
    font-size: 14px;
    border: 1px solid transparent;
    border-radius:var(--btn-radius);
    padding: 0 1em;
    height: 3.142em;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    min-width: min-content;
    transition: background 0.2s linear, color 0.2s linear;
    cursor: pointer;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}
.btn svg{
    font-size: 1.428em;
    line-height: 0;
}
.btn:disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
.btn:active{
    opacity: 0.8;
}

/* Залитые кнопки */
.contained.primary{
    color: var(--btn-primary-color);
    background: var(--btn-primary-bg);
}
.contained.primary:hover{
    background: var(--btn-primary-bg-hover);
}

.contained.secondary{
    color: var(--btn-secondary-color);
    background: var(--btn-secondary-bg);
}
.contained.secondary:hover{
    background: var(--btn-secondary-bg-hover);
}

.contained.danger{
    color: var(--btn-danger-color);
    background: var(--btn-danger-bg);
}
.contained.danger:hover{
    background: var(--btn-danger-bg-hover);
}

/* рамочные кнопки */
.outlined{
    border: 1px solid;
    background: transparent;
}

.outlined.primary{
    color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
}
.outlined.primary:hover{
    color: var(--btn-primary-color);
    background: var(--btn-primary-bg);
}

.outlined.secondary{
    color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-bg);
}
.outlined.secondary:hover{
    color: var(--btn-secondary-color);
    background: var(--btn-secondary-bg);
}

.outlined.danger{
    color: var(--btn-danger-bg);
    border-color: var(--btn-danger-bg);
}
.outlined.danger:hover{
    color: var(--btn-danger-color);
    background: var(--btn-danger-bg);
}

/* btn text */
.text.primary{
    color: var(--btn-primary-bg);
}
.text.primary:hover{
    color: var(--btn-primary-bg-hover);
}

.text.secondary{
    color: var(--btn-secondary-bg);
}
.text.secondary:hover{
    color: var(--btn-secondary-bg-hover);
}

.text.danger{
    color: var(--btn-danger-bg);
}
.text.danger:hover{
    color: var(--btn-danger-bg-hover);
}

/* end styles btn */