.generate {
    padding: var(--padding);
}

.generate_window {
    padding: 15px;
    height: 125px;
    background: #1F1E1E;
    border-radius: 10px;
    border: 1px solid #333435;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.generate_window_text {
    font-size: 18px;
    font-weight: 900;
    word-break: break-all;
    line-height: 120%;
    display: flex;
    align-items: center;
    user-select: text;
}

.generate_window_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.generate_window_foot_text {
    display: flex;
    align-items: center;
}

.generate_window_foot_text svg {
    margin-right: 5px;
    font-size: 1.3em;
}

.generate_window_foot_btns {
    display: flex;
    grid-gap: var(--gap);
}

.generate_window_foot_btns .btn_input {
    width: 20px;
    color: var(--text);
}

.generate_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.generate_row:not(:last-child) {
    margin-bottom: 15px;
}

.generate_btns {
    margin-top: 25px;
    display: flex;
    gap: var(--gap);
}

.generate_btns .btn {
    max-width: 100%;
    flex-grow: 1;
}

.input_range {
    display: flex;
    align-items: center;
    max-width: 250px;
    width: 100%;
}

.input_range input {
    appearance: none;
    background: var(--text);
    height: 4px;
    border-radius: 4px;
    width: 100%;
}

.input_range input::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    background: var(--text);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.input_range_value {
    font-size: 14px;
    width: 27px;
    margin-left: 5px;
}