.alerts {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    position: fixed;
    bottom: 69px;
    right: 0;
    height: fit-content;
    width: fit-content;
}

.alert {
    padding: 20px 50px 20px 10px;
    font-size: 14px;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    animation: alert 2s linear both;
}

.alert-row {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.alert-info {
    background: var(--alert-bg);
    color: var(--alert-color);
    border-left: 4px solid var(--alert-border-color);
}

@keyframes alert {
    0% {
        transform: translateX(100%);
    }

    10% {
        transform: translateX(0%);
    }

    90% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    background: var(--loading-bg);
    color: var(--loading-color);
}

.loading svg {
    font-size: 50px;
    animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}