.input-warning {
    margin-top: 9px;
    font-size: 12px;
    color: var(--warning);
    line-height: 110%;
}

.status {
    margin-top: 8px;
    height: 5px;
    width: 100%;
    display: flex;
    gap: 2px;
}

.status span {
    flex-grow: 1;
    background-color: var(--container);
    border-radius: 5px;
}

.status.level_0 span:first-child,
.status.level_1 span:first-child {
    background: var(--warning);
}

.status.level_2 span:nth-child(-n + 2) {
    background: var(--average);
}

.status.level_3 span:nth-child(-n + 3) {
    background: var(--normal);
}

.status.level_4 span {
    background: var(--high);
}

.status.error span {
    background-color: var(--warning) !important;
}