@import "less/reset.less";
@import "less/list.less";
@import "less/header.less";
@import "less/alert.less";
@import "less/settings.less";
@import "less/generate.less";

// @media (prefers-color-scheme: dark) {

// }
:root {
    --bg: #232931;
    --bg-loading: #23293181;
    --bg-window-btn: #394350;
    --text: #dff5f2;
    --container: #2e353f;
    --warning: #c22828;
    --btn-primary: #c9ddda;
    --btn-primary-hover: #dff5f2;
    --btn-default: #2e353f;
    --btn-default-hover: #373f4b;
    --btn-delete: #b12727;
    --btn-delete-hover: #c22828;
    --input-color: #93a4a1;
    --input-color-hover: #c9ddda;
    --weak: #992020;
    --average: #c89816;
    --high: #31bb38;
    --padding: 10px;
    --gap:10px;
    --color-main: #dff5f2;
    --color-access: #73d626;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
   
}
html,
body {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
img {
    pointer-events: none;
}
body {
    background: var(--bg);
    color: var(--text);
    padding: var(--padding);
}
.scroll {
    &::-webkit-scrollbar {
        width: 6px; /* ширина scrollbar */
    }
    &::-webkit-scrollbar-thumb {
        background: var(--text); /* цвет плашки */
        border-radius: 20px; /* закругления плашки */
    }

}
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.btn {
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    &_default {
        background: var(--btn-default);
        color: var(--text);
        &:hover {
            background: var(--btn-default-hover);
        }
    }
    &_primary {
        background: var(--btn-primary);
        color: var(--container);
        &:hover {
            background: var(--btn-primary-hover);
        }
    }
    &_delete {
        background: var(--btn-delete);
        color: var(--text);
        &:hover {
            background: var(--btn-delete-hover);
        }
    }
    &_svg {
        svg {
            font-size: 25px;
            path {
                fill: var(--btn-primary);
            }
        }
        &:hover {
            svg {
                path {
                    fill: var(--btn-primary-hover);
                }
            }
        }
    }
    &-icon {
        line-height: 0;
        font-size: inherit;
        margin-left: 5px;
    }

    &-apple {
        width: 44px;
        height: 24px;
        border-radius: 28px;
        background: var(--container);
        padding: 2px;
        transition: background 0.2s linear;
        position: relative;
        span {
            position: absolute;
            top: 2px;
            left: 2px;
            bottom: 2px;
            width: 20px;
            height: 20px;
            background: var(--text);
            border-radius: 50%;
            transition: transform 0.2s linear, background 0.2s linear;
        }
        &.active {
            background: var(--text);
            span {
                background: #1F1E1E;
                transform: translateX(100%);
            }
        }
    }
    &_input {
        display: flex;
        align-items: center;
        width: 25px;
        height: 100%;
        opacity: 0.5;
        &:active:hover {
            opacity: 1;
        }
        &:not(:active):hover {
            opacity: 0.7;
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &.disabled,
    &:disabled {
        opacity: 0.2;
        pointer-events: none;
    }
}
.search {
    display: flex;
    align-items: center;
    background: var(--container);
    padding-left: 10px;
    border-radius: 10px;
    width: 100%;
    input {
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }
    svg {
        flex-shrink: 0;
        font-size: 24px;
        line-height: 0;
    }
}
input {
    font-family: "Open Sans", sans-serif;
}
.form {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    overflow-y: auto;

    &_title {
        text-align: center;
        font-size: 42px;
        font-weight: 600;
        margin: 30px 0;
        @media screen and (max-width: 360px) {
            font-size: 33px;
            margin: 20px 0;
        }
    }
    &_row {
        margin-bottom: 25px;
    }
    &_btns {
        .btn {
            max-width: 100%;
            margin-bottom: 15px;
        }
    }
}
.input {
    display: flex;
    flex-direction: column;
    label {
        font-size: 16px;
        margin-bottom: 10px;
    }
    input {
        font-size: 18px;
        width: 100%;
        padding: 10px 15px;
        border: 1px solid var(--input-color);
        border-radius: 5px;
        color: var(--input-color);
        &:focus {
            border-color: var(--input-color-hover);
            color: var(--input-color-hover);
        }
    }
    &_item {
        display: flex;
        position: relative;
        .btns {
            display: flex;
            align-items: center;
            margin-left: 5px;
            gap: 5px;
        }
        .btn{
            border: 1px solid var(--input-color);
            border-radius: 5px;
            &:hover{
                border-color: var(--input-color-hover);
            }
        }
        .btns ~ input{
            border-right: none;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}
.status {
    margin-top: 8px;
    height: 5px;
    width: 100%;
    display: flex;
    gap: 2px;
    span {
        flex-grow: 1;
        background-color: var(--container);
        border-radius: 5px;
    }
    &.weak {
        span:first-child {
            background-color: var(--warning);
        }
    }
    &.average {
        span:nth-child(-n + 2) {
            background-color: var(--average);
        }
    }
    &.high {
        span {
            background-color: var(--high);
        }
    }
    &.error {
        span {
            background-color: var(--warning) !important;
        }
    }
}
.warning {
    margin-top: 9px;
    font-size: 12px;
    color: var(--average);
    line-height: 110%;
}
.animation_scale:not(:hover) {
    animation: identifier 0.5s linear 1s alternate-reverse infinite both;
}
@keyframes identifier {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

.start {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_logo {
        max-width: 180px;
        width: 100%;
    }
    &_container {
        max-width: 500px;
        width: 100%;
    }
    &_title {
        margin: 20px 0;
        text-align: center;
        font-size: 38px;
        font-weight: 600;
        line-height: 130%;
    }
    &_boxs {
        font-size: 25px;
        display: flex;
        margin: 2em -1em 0;
        .box {
            margin: 0 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: var(--container);
            padding: 1.6em 0.8em;
            border-radius: 0.4em;
            cursor: pointer;
            transition: box-shadow 0.2s linear;
            &:hover {
                box-shadow: 0px 0px 0.4em rgba(223, 245, 242, 0.34);
            }
            &_icon {
                width: 4em;
                height: 4em;
            }
            &_text {
                text-align: center;
                margin: 0.6em;
            }
        }
    }
    &_btns {
        display: flex;
        margin-top: 20px;
        width: 100%;
        grid-gap: 20px;
        .btn {
            flex-grow: 1;
            max-width: 100%;
        }
    }
}
.rowPassord {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--gap);
    &_item {
        background-color: var(--container);
        border: 1px solid var(--text);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        opacity: 0.2;
        border-radius: 6px;
        &.focus {
            opacity: 1;
        }
        &.active {
            opacity: 0.7;
        }
    }
}
.footer {
    flex-shrink: 0;
    width: 100%;
    background: var(--container);
    border-radius: 10px;
    margin-top: auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 20px;

    &_left {
        opacity: 0.5;
    }
    &_rigth {
        margin-left: auto;
        opacity: 0.5;
    }
}

.color {
    &-access {
        color: var(--color-access);
    }
    &-warning {
        color: var(--color-warning);
    }
    &-danger {
        color: var(--color-danger);
    }
}
@media screen and (max-width: 360px) {
    .start {
        &_logo {
            width: 100px;
            height: 100px;
        }
        &_title {
            font-size: 20px;
        }
        &_boxs {
            font-size: 14px;
        }
    }
    .rowPassord {
        width: 100%;
        height: 60px;
        grid-gap: 10px;
        &_item {
            font-size: 28px;
        }
    }
}
